<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>customproducttext</name>
    <displayName><![CDATA[Custom Product Text]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Allows you to set custom text for each product.]]></description>
    <author><![CDATA[Santiago Lavigna Jara]]></author>
    <tabs>
        <tab>
            <name><![CDATA[CustomProductTextAdminController]]></name>
            <className><![CDATA[CustomProductTextAdminController]]></className>
            <parentClassName><![CDATA[AdminProducts]]></parentClassName>
        </tab>
    </tabs>
</module>
